@use '../theme'

.soil-notification
  border-radius: 10px
  box-shadow: 1px 1px 5px 1px theme.$text
  background-color: theme.$notification-back-color
  border-left: 0.5rem solid theme.$notification-color
  padding: 1.5em 1.75em
  color: theme.$text
  width: auto

  // Variants
  &--success
    border-left: 0.5rem solid theme.$notification-success-color
    background-color: theme.$notification-success-back-color
  &--danger
    border-left: 0.5rem solid theme.$notification-danger-color
    background-color: theme.$notification-danger-back-color
  &--warning
    border-left: 0.5rem solid theme.$notification-warning-color
    background-color: theme.$notification-warning-back-color
