<script lang="ts">
export default { name: 'SButton' }
</script>

<script setup lang="ts">
import { OButton } from '@oruga-ui/oruga-next/src/components/button'

interface Props {
  label: string
  expanded?: boolean
  disabled?: boolean
  outlined?: boolean
  rounded?: boolean
  size?: string
}

const props = withDefaults(defineProps<Props>(), {
  expanded: false,
  disabled: false,
  outlined: false,
  rounded: false
})

interface Emits {
  (event: 'button-click', value: any): void
}

const emit = defineEmits<Emits>()
</script>

<template lang="pug">
o-button(v-bind='props' @click='emit("button-click")')
</template>

<style scoped lang="sass">
//TODO Refactor to migrate to global variables

$base: #949494
$primary: #73c1c7
$info: #7fd6dd
$danger: #b4656f
$warning: #ee964b
$color: white

.o-btn
  background-color: $base
  color: $color
  min-width: 3rem

  // TODO: refactor to eliminate duplication

  &--primary
    color: $color
    background-color: $primary
  &--info
    background-color: $info
    color: $color
  &--danger
    background-color: $danger
    color: $color
  &--warning
    background-color: $warning
    color: $color

  &--outlined
    color: $base
    background-color: $color
    border-color: $base
    &:hover
      color: $color
      background-color: $base
      border-color: $color
    &-primary
      color: $primary
      background-color: $color
      border-color: $primary
      &:hover
        color: $color
        background-color: $primary
        border-color: $color
    &-info
      color: $info
      background-color: $color
      border-color: $info
      &:hover
        color: $color
        background-color: $info
        border-color: $color
    &-danger
      color: $danger
      background-color: $color
      border-color: $danger
      &:hover
        color: $color
        background-color: $danger
        border-color: $color
    &-warning
      color: $warning
      background-color: $color
      border-color: $warning
      &:hover
        color: $color
        background-color: $warning
        border-color: $color
</style>
