<script lang="ts">
export default { name: 'SListExplorer' }
</script>

<script setup lang="ts">
import { computed, ref, toRefs } from 'vue'
import { SIcon, SSearchField } from '@/components/'
import SList from './SList.vue'
import type { List, ListItem } from '@/components/'

/*
 * TODO: reuse search logic in other components
 * TODO: remove the input event?
 */

interface Props {
  // TODO: use v-model to allow setting the search externally
  isSearchable?: boolean
  lists: List[]
}
const props = withDefaults(defineProps<Props>(), {
  isSearchable: true
})
const { isSearchable, lists } = toRefs(props)

interface Emits {
  // NOTE: `item.isExpanded` is the value after triggering the collapse/expanse operation
  (
    event: 'list-input',
    list: List,
    item: ListItem,
    original: PointerEvent
  ): void
  (event: 'toggle-item', list: List, item: ListItem): void
  (event: 'toggle', list:List): void
}
const emit = defineEmits<Emits>()

/*
 * Filter the list items
 */

const search = ref('')
const filteredLists = computed((): List[] => {
  if (search.value.length) {
    // Case insensitive
    const itemSearch = search.value.toLowerCase()
    return lists.value.map((list: List) => ({
      ...list,
      items: list.items.filter(item => {
        return item.label.toLowerCase().indexOf(itemSearch) !== -1
      })
    }))
  }

  return lists.value
})
</script>

<template lang="pug">
.soil-list-explorer
  s-search-field.soil-list-explorer__search(
    v-if='isSearchable'
    v-model='search'
    :input-config='{ placeholder: "Search..." }'
    icon='search'
    hide-label
  )

  s-list(
    v-for='list in filteredLists'
    v-bind='list'
    @input='(item, original) => emit("list-input", list, item, original)'
    @toggle='emit("toggle", list)'
    @toggle-item='(item) => emit("toggle-item", list, item)'
  )
    template(v-if='$slots["title"]' #title='list')
      slot(name='title' v-bind='{ list }')
    template(v-if='$slots["item"]' #item='{ item }')
      slot(name='item' v-bind='{ list, item }')
    template(v-if='$slots["item-label"]' #item-label='{ item }')
      slot(name='item-label' v-bind='{ list, item }')
    template(v-if='$slots["item-content"]' #item-content='{ item }')
      slot(name='item-content' v-bind='{ list, item }')

  slot(v-if='!lists.length' name='empty')
    .soil-list-explorer__empty
      | No lists
</template>

<style lang="sass">
.soil-list-explorer
  .soil-list-explorer__search
    margin-bottom: .5em

  .soil-list-explorer__empty
    margin: 3em
    text-align: center
    color: #ccc
</style>
