<script setup lang="ts">
// TODO: close-x pass multiple tab IDs

/**
 * FIXME: style
 * TODO: pin tabs
 * TODO: order tabs
 * TODO: drag and drop
 * TODO: hover when available
 * TODO: switch the tab and emit, but option to wait for callback or something similar
 * TODO: animation
 * TODO: tab.isLoading + icon
 * TODO: position tab list on left or right
 * TODO: allow multi-line
 * TODO: create a `tabs` slot to customize them
 *
 * Instead of emitting `Tab` instances, their IDs are used to be more efficient since
 * `Tab` instances usually contain big objects, HTML, etc.
 *
 * FIXME
 * NOTE: Tab 0 is the menu.
 */

import { ref, toRefs, watch, onBeforeUpdate } from 'vue'
import { useI18n } from 'vue-i18n'
import { OTabs } from '@oruga-ui/oruga-next/src/components/tabs/'
import STab from './STab.vue'
import STabList from './STabList.vue'
import type { Tab as TabInterface, TabId, TabListPosition } from './types'

type Tab = TabInterface<any>

interface Props {
  activeTabId?: TabId
  tabs: Array<Tab>
  listPosition?: TabListPosition
}

interface Emits {
  (event: 'close-tab', value: TabId): void
  (event: 'close-other-tabs', value: Array<TabId>): void
  (event: 'close-tabs-to-left', value: Array<TabId>): void
  (event: 'close-tabs-to-right', value: Array<TabId>): void
  (event: 'switch', value: TabId): void
}

const { t } = useI18n()

const props = withDefaults(defineProps<Props>(), {
  activeTabId: -1,
  listPosition: 'right'
})
const { activeTabId, tabs, listPosition } = toRefs(props)

const emit = defineEmits<Emits>()

const listComponent = ref(null),
  tabComponents = ref({})

// Reset the refs before each update
onBeforeUpdate(() => (tabComponents.value = {}))

// FIXME
const findTabIndex = (id: TabId): number => {
  // The first tab contains the tab list
  return tabs.value.findIndex((tab: Tab) => tab.id === id) + 1
}

const index = ref(findTabIndex(activeTabId.value))

// TODO: a map of IDs and positions could be computed for tabs once to avoid
// iterating over all tabs to get their ID or to find their positions
// indexes(): Record<TabId, number> {
// },
// size(): number {
//   return Object.keys(this.indexes).length
// }

// TODO
watch(activeTabId, (id: TabId) => {
  index.value = findTabIndex(id)
})

/*
 * Emit the "switch" event, that the parent should manage to decide if it
 * should change the active tab ID (`activeTabId`) or not.
 * TODO: rename event to "input"?
 */
const switchTab = (tab: Tab): void => {
  emit('switch', tab.id)
}

// FIXME
const hasTabsAtLeft = (tab: Tab): boolean => {
  return false
  // return this.tabs.some((otherTab: Tab) => otherTab.id < tab.id)
}
// FIXME
const hasTabsAtRight = (tab: Tab): boolean => {
  return false
  // return this.tabs.some((otherTab: Tab) => otherTab.id > tab.id)
}

/**
 * Close the tab list
 */
const closeList = (): void => {
  listComponent.value.close()
}
/**
 * Close all the tab menus, or allow only 1 to be open
 */
const closeTabMenus = (options: { except?: TabId } = {}): void => {
  tabs.value.forEach((tab: Tab) => {
    if (options.except !== tab.id) {
      tabComponents[`tab-${tab.id}`].closeMenu()
    }
  })
}

/**
 * Ensure that only 1 dropdown is open at any time
 */
const onListOpen = (): void => closeTabMenus()
/**
 * Ensure that only 1 dropdown is open at any time
 */
const onTabMenuOpen = (tabId: TabId): void => {
  closeList()
  closeTabMenus({ except: tabId })
}

// FIXME
const onInput = (inputIndex: number): void => {
  // The last tab contains the tab list
  if (inputIndex < tabs.value.length) {
    index.value = inputIndex
    switchTab(tabs.value[inputIndex])
  }
}
</script>

<template lang="pug">
o-tabs._(:value='index' @input='onInput($event)' type='boxed')
  s-tab(
    :is-close-multiple-disabled='!tabs.length'
    :is-close-to-left-disabled='!hasTabsAtLeft(tab)'
    :is-close-to-right-disabled='!hasTabsAtRight(tab)'
    :key='tab.id'
    :ref='el => { if (el) tabComponents[`tab-${tab.id}`] = el }'
    :tab='tab'
    @close='emit("close-tab", $event)'
    @close-other='emit("close-other-tabs", $event)'
    @close-to-left='emit("close-tabs-to-left", $event)'
    @close-to-right='emit("close-tabs-to-right", $event)'
    @menu-open='onTabMenuOpen'
    v-for='tab in tabs'
  )
    template(#content='{ tab }')
      slot(:tab='tab' name='content')

  //- FIXME: fixed to the right, not hidden when scroll is necessary
  // s-tab-list(:tabs='tabs' @open='onListOpen' @select='switchTab' ref='listComponent')
</template>

<style scoped lang="sass">
._
  // Bigger than using size "is-small", but smaller than using "is-medium"
  font-size: 1rem
  margin: 0px
  section.tab-content
    padding: 0px
</style>

<style lang="sass">
.dropdown
  &.nested > .dropdown-menu
    // Dropdowns use 99 as `z-index`, so nested dropdowns should be higher to be completely visible
    z-index: 100 !important

  .icon.nested-dropdown-indicator
    position: absolute
    float: right
    right: 0.6em
    bottom: 0.4em
</style>
