<script lang="ts">
export default { name: 'SSidebar' }
</script>

<script setup lang="ts">
/**
 * TODO: split between Sidebar and SidebarPanel/Drawer or similar
 * TODO: activate items based on the current route
 */

import { h, toRefs, ref, useSlots, computed } from 'vue'
import { SIcon, SLoading } from '@/components/'
import type { BarItem } from './types'

interface Props {
  subbar?: Array<BarItem>
  loading?: boolean
}

interface Emits {
  (event: 'subbar-menu-input', value: any): void
}

const props = withDefaults(defineProps<Props>(), {
  subbar: () => [],
  loading: false
})
const emit = defineEmits<Emits>()

const { subbar } = toRefs(props)

const _reload = ref(0)

const subbarUpdated = computed((): any => {
  _reload.value
  return subbar.value
})

const onSubbarItemClick = (itemIndex: number) => {
  subbar.value.forEach((subbarItem: any, index: number) => {
    subbarItem.isActive = index === itemIndex
  })
  _reload.value++
  emit('subbar-menu-input', subbar.value[itemIndex])
}

if (subbar.value.length && !subbar.value.some(e => e.isActive)) {
  subbar.value[0].isActive = true
}

const sidebarItem = ({ icon, title, isActive }: BarItem) =>
  h(SIcon, {
    icon,
    title,
    class: ['soil-subbar-icon', { 'soil-subbar-active': isActive }],
    iconStyle: {
      color: isActive ? '#7dc5cc' : '#d1d1d1'
    }
  })

const slots = useSlots(),
  slotNames = Object.keys(slots),
  hasNamedSlots = slotNames.some(name => name.startsWith('sidebar-'))
</script>

<template lang="pug">
.soil-sidebar-wrapper
  s-loading(:active='loading')
  slot
    ul.soil-sidebar-subbar(v-if='subbar.length')
      li.soil-subbar-button(
        v-for='subbarItem, index in subbar'
        :key='index'
        :class='{ "soil-subbar-active": subbarItem.isActive, "is-clickable": !subbarItem.isActive }'
        @click='onSubbarItemClick(index)'
      )
        router-link(
          v-if='subbarItem.route'
          :title='subbarItem.title'
          :to='subbarItem.route'
        )
          sidebar-item(v-bind='subbarItem')
        sidebar-item(v-else v-bind='subbarItem')
  .soil-sidebar(v-if='hasNamedSlots')
    .soil-sidebar-top
      slot(name='sidebar-top')

    template(v-if='subbar.length')
      template(v-for='subbarItem, index in subbarUpdated' :key='index')
        keep-alive
          .soil-sidebar-body(v-show='subbarItem.isActive')
            slot(:name='`sidebar-body-${index}`')

    template(v-else)
      .soil-sidebar-body
        slot(name='sidebar-body' )

    .soil-sidebar-footer
      slot(name='sidebar-footer')
</template>

<style lang="sass" scoped>
@use './src/styles/theme' as soil-theme

.soil-sidebar-wrapper
  height: 100%
  position: relative
  display: flex

.soil-subbar-active svg
  color: soil-theme.$primary !important

.soil-sidebar-subbar
  display: flex
  flex-direction: column
  align-items: center
  min-width: 36px
  height: 100%
  background-color: #4b4f60

.soil-subbar-button
  display: flex
  margin: 6px 0
  padding: 3px
  border-radius: 2px

.soil-subbar-button:hover
  background-color: rgba(0,0,0,.1)

.soil-subbar-button.soil-subbar-active
  background-color: rgba(0,0,0,.2)

.soil-subbar-icon svg
  width: 1rem !important

.soil-subbar-button:hover > .soil-subbar-icon
  color: #e1e1e1

.soil-sidebar
  padding-left: 0.5rem
  padding-right: 0.5rem
  display: flex
  flex-direction: column
  height: 100%
  overflow-y: visible
  overflow-x: hidden
  scrollbar-width: thin
  width: 100%
  background-color: #fbfbfb
  align-content: space-around
  > .soil-sidebar-footer
    margin-top: auto
  > .soil-sidebar-body
    height: 100%
  > div::-webkit-scrollbar
    width: 12px
  > div::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    border-radius: 10px
</style>
