// The transition `views` is used when changing views
.transition-views-enter-active,
.transition-views-leave-active
  transition: opacity .3s ease

.transition-views-enter,
.transition-views-leave-to
  opacity: 0

// The transition `layouts` is slow since it is used when changing layouts,
// which can be very different
.transition-layouts-enter-active,
.transition-layouts-leave-active
  transition: opacity 1.2s ease

.transition-layouts-enter,
.transition-layouts-leave-to
  opacity: 0
