<script lang="ts">
export default { name: 'SPasswordChange' }
</script>

<script setup lang="ts">
import { computed, ref, toRefs } from 'vue'
import { useI18n } from 'vue-i18n'
import { OField } from '@oruga-ui/oruga-next/src/components/field'
import { SAuthForm, SPasswordField, SFormSubmit, SIcon } from '@/components/'
import type { SubmitEvent } from '@/types/'
import { changePassword, setNewPassword } from '@/services/api/'

// TODO Add restrictions to new passwords
interface Props {
  userIdUrl?: string
  tokenUrl?: string
}

const props = defineProps<Props>()
const { userIdUrl, tokenUrl } = toRefs(props)

const { t } = useI18n()

const oldPassword = ref(''),
  newPassword = ref(''),
  repeatPassword = ref(''),
  isSubmitLoading = ref(false),
  errorMessage = ref(''),
  isSuccess = ref(false)

const isSubmitDisabled = computed((): boolean => {
  if (isResetView())
    return !newPassword.value.length || !repeatPassword.value.length
  else
    return (
      !oldPassword.value.length ||
      !newPassword.value.length ||
      !repeatPassword.value.length
    )
})

const isResetView = (): boolean => {
  return userIdUrl?.value && tokenUrl?.value
}

const submit = async (event: SubmitEvent): Promise<void> => {
  event.preventDefault()
  errorMessage.value = ' '
  isSubmitLoading.value = true
  let isOK = false

  if (!(newPassword.value === repeatPassword.value)) {
    errorMessage.value = 'Passwords do not match'
    isSubmitLoading.value = false
    return
  }

  if (!isResetView()) {
    isOK = await changePassword({
      newPassword: newPassword.value,
      oldPassword: oldPassword.value
    })
  } else {
    isOK = await setNewPassword({
      newPassword: newPassword.value,
      userId: userIdUrl?.value,
      token: tokenUrl?.value
    })
  }

  isSubmitLoading.value = false

  if (isOK) {
    isSuccess.value = true
  } else {
    errorMessage.value = 'Failed to change password'
  }
}
</script>

<template lang="pug">
s-auth-form._(
  :title='t("S.Account.PasswordChange.changePassword")'
  @submit='submit'
)
  template(#left)
    p.mt-4.is-size-5 {{ t("S.Account.PasswordChange.statement") }}
    ul
      li {{ t("S.Account.PasswordChange.rule1") }}
      li {{ t("S.Account.PasswordChange.rule2") }}
      li {{ t("S.Account.PasswordChange.rule3") }}

  template(#right)
    .password-form(v-if='!isSuccess')
      s-password-field(
        v-if='!isResetView()'
        :label='t("S.Account.PasswordChange.currentPassword")'
        v-model='oldPassword'
      )
      s-password-field(
        :label='t("S.Account.PasswordChange.newPassword")'
        v-model='newPassword'
      )
      s-password-field(
        :label='t("S.Account.PasswordChange.repeatPassword")'
        v-model='repeatPassword'
      )

      o-field.mt-2
        p.control
          p.help.help-heigth.is-danger
            | {{ errorMessage }}

      s-form-submit(
        :is-disabled='isSubmitDisabled'
        :is-loading='isSubmitLoading'
        :label='t("S.Account.PasswordChange.saveChanges")'
      )

    .columns(v-else)
      //- TODO: size and type
      s-icon.mr-4.mt-5(icon='check-circle' size='is-large' type='is-success')
      .mt-5
        p.is-size-5.mt-2 {{ t("S.Account.PasswordChange.successMessage") }}
        i18n-t.mt-1(keypath='S.Account.PasswordChange.link' tag='p')
          template(#link)
            router-link(
              :title='t("S.Account.PasswordChange.signIn")'
              :to='{ name: "sign-in" }'
            )
              | {{ t("S.Account.PasswordChange.signIn") }}
</template>

<style scoped lang="sass">
._
  margin-top: 20rem

.password-form
  width: 25rem
  margin-top: 1rem

// Keep the empty space when no error message is displayed
.help-height
  height: 1.5rem
</style>
