<script lang="ts">
export default { name: 'SConfirmModal' }
</script>

<script setup lang="ts">
import { toRefs, ref, withDefaults, watchEffect, computed } from 'vue'
import { SIcon, SModal, SButton } from '@/components/'
import { OInput } from '@oruga-ui/oruga-next/src/components/input'
import { OField } from '@oruga-ui/oruga-next/src/components/field'

interface Props {
  title: string
  content: string
  width?: string
  closeButtonText: string
  actionButtonText?: string
  actionButtonVariant?: string
  inputPlaceholder?: string
  isInitialActive?: boolean
}

interface Emits {
  (event: 'confirm', value: string): void
}
const emit = defineEmits<Emits>()

const child_ref = ref(null)
const inputText = ref('')
const inputWord = ref('')
const splitContent = ref([])

const props = withDefaults(defineProps<Props>(), {
  isInitialActive: false,
  actionButtonVariant: 'primary',
  width: '450'
})

const {
  title,
  content,
  width,
  closeButtonText,
  actionButtonText,
  inputPlaceholder,
  actionButtonVariant
} = toRefs(props)

//* normalizeContent transforms the content to have the keyword characters split and assign them a class

const normalizeContent = () => {
  if (inputPlaceholder?.value) {
    const separated = []
    const parts = content.value.split('"')
    inputWord.value = parts[1]
    separated.push(parts[0], ...parts[1], parts[2])

    splitContent.value = separated.map(value => ({
      value: value,
      style: 'default'
    }))
  }
}

normalizeContent()

//* isTyping checks if the characters we write match with the keyword and color them
//* if we fail all the word turn to previous color
const isTyping = () => {
  const inputValue = inputText.value
  const keyWord = splitContent.value.slice(0, -1).slice(1) as any

  if (inputValue.length <= keyWord.length) {
    for (let i = 0; i < inputValue.length; i++) {
      if (inputText.value[i] === keyWord[i].value) {
        keyWord[i].style = 'correct-char'
      } else {
        for (let i = 0; i < inputValue.length; i++) {
          keyWord[i].style = 'default'
        }
        break
      }
    }
  }
}

const open = () => {
  ;(child_ref.value as any).isActive = true
}

const close = () => {
  ;(child_ref.value as any).isActive = false
}

defineExpose({
  open,
  close
})

watchEffect(() => isTyping())
</script>

<template lang="pug">
s-modal(:width='width' ref='child_ref' :isInitialActive='isInitialActive')
  template(#header)
    header.soil-confirm-header
      h1 {{title}}

  template(#body)
    .soil-confirm-body
      span.mt-(v-if='!inputPlaceholder') {{content}}
      .modal-input(v-if='inputPlaceholder')
        span(v-for= "element in splitContent" :class='element.style') {{element.value}}
        o-field.m-3
          o-input(:placeholder='inputPlaceholder' v-model="inputText" @keyup="normalizeContent")

  template(#footer="slotProps")
    .soil-confirm-footer
      s-button.soil-confirm-button(:label='closeButtonText' @buttonClick='slotProps.closeModal')
      s-button.soil-confirm-button(v-if='actionButtonText' :variant='actionButtonVariant' :label='actionButtonText' @buttonClick='emit("confirm", $event)' :disabled='inputWord !== inputText')
</template>

<style lang="sass">
$highlighted: #bd2514

.soil-confirm-header
  text-align: left
  padding: 1rem 0 0 2rem
  font-weight: bold
  font-size: 1.5rem

.soil-confirm-body
  text-align: left
  padding: 0.5rem 2rem

.soil-confirm-footer
  text-align: right
  padding: 0.3rem 1rem 1rem 0

.soil-confirm-button
  min-width: 5rem !important
  margin-right: 0.6rem !important
  margin-left: 0.6rem !important

.correct-char
  color: $highlighted
</style>
