<script lang="ts">
export default { name: 'SDialer' }
</script>

<script setup lang="ts">
import { ref, toRefs, computed } from 'vue'
import { ODropdown } from '@oruga-ui/oruga-next/src/components/dropdown/'
import { SIcon } from '@/components/'
import type { Icon, IconName } from '@/components/'

interface DialerOption {
  name: string
  title?: string
  icon?: Icon | IconName
  value: any
}

interface Props {
  options: DialerOption[]
  title?: string
  modelValue: any
  icon?: Icon | IconName
  label?: string
}

interface Emits {
  input: any
}

const props = defineProps<Props>()
const { options, modelValue, icon, title } = toRefs(props)

const emit = defineEmits<Emits>()

const isHover = ref(false)

const hasIcons = computed(() => {
  return !!options.value.filter((e: any) => !!e.icon).length
})
</script>

<template lang="pug">
._
  o-dropdown
    template(#trigger)
      .s-dialer-trigger(@mouseover='isHover=true' @mouseleave='isHover=false')
        s-icon(icon='cog' :class="{ 'fa-rotate-90': isHover }" v-if='!icon')
        s-icon(:icon='icon' v-else)
        span.s-dialer-label(v-if='label')
          | {{ label }}
    ul.s-dialer-dropdown
      li.s-dialer-title(v-if='title')
        | {{ title }}
      li.s-dialer-option(v-for='option of options' :key='option.name' :class='{"is-active": modelValue == option.value}' @click="emit('update:modelValue', option.value)" :title='option.title || option.name')
        s-icon.mx-2.my-1(:icon='option.icon || "phone"' v-if='hasIcons' :class='{ invisible: !option.icon }')
        | {{ option.name }}
</template>

<style lang="sass" scoped>
.s-dialer-trigger
  display: flex
.s-dialer-trigger *
  cursor: pointer !important
  transition: all 0.7s ease

.s-dialer-label
  margin-left: 0.5rem
  margin-right: 0.5rem

@media screen and (min-width: 1024px)
  :deep(.o-drop__menu)
    position: fixed !important
    top: initial !important
    left: initial !important
    margin: 1.35em !important
    z-index: 9999 !important

.s-dialer-dropdown > li
  padding: 0.25em 0.75em
  transition: 0.1s ease
  user-select: none

.s-dialer-title
  text-transform: uppercase
  font-size: 0.8em
  font-weight: bold

.s-dialer-option.is-active
  background-color: #73c1c7
  color: white

.s-dialer-option:hover:not(.is-active)
  opacity: 0.7
  cursor: pointer
  background-color: #73c1c7
  color: white

.s-dialer-option.is-active :deep(svg), .s-dialer-option:hover :deep(svg)
  color: white !important

.invisible
  opacity: 0
</style>
