<script lang="ts">
export default { name: 'STableExplorer' }
</script>

<script setup lang="ts">
import { toRefs, ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { OPagination } from '@oruga-ui/oruga-next/src/components/pagination/'
import { OTabs, OTabItem } from '@oruga-ui/oruga-next/src/components/tabs/'
import { SIcon, SDropdownMenu, STable } from '@/components/'
import { SSearchField } from '@/components/fields/'

import STableList from './STableList.vue'
import STableVisualizer from './STableVisualizer.vue'

// TODO: use `id` (or, `key`, `label`, etc.) to handle tables instead of `name` or `code`
// TODO: use `shallowRef` optionally to optimise performance on big tables?

interface Props {
  perPage?: number
  tableHeight?: number
  items: Array<any>
  label: string
  loading?: boolean
  // FIXME typing
  mainMenu?: any
}

const props = withDefaults(defineProps<Props>(), {
  perPage: 6,
  tableHeight: 400,
  label: 'Tables',
  loading: false
})

// TODO: rename `menu-input` to `table-group-menu-input` or similar
const emit = defineEmits(['menu-input', 'table-selected', 'main-menu-input'])

const { perPage, label, items, tableHeight, mainMenu } = toRefs(props)

const selectedTable = ref(0)

const tableItem = ref(null)
const explorerContainer = ref(null)

const selectTable = (item: any) => {
  currentTab.value = '1'
  selectedTable.value = items.value.map(item => item.name).indexOf(item.name)
  emit('table-selected', item)
}

const currentTab = ref('0')

const handleMenuInput = (evt: any) => {
  emit('menu-input', evt)
}

const handleMainMenuInput = (evt: any) => {
  emit('main-menu-input', evt)
}

defineExpose({
  tableItem,
  explorerContainer,
  selectTable,
  selectedTable
})
</script>

<template lang="pug">
.table-explorer(ref='explorerContainer')
  //- TODO: why?
  .table-explorer-item(v-show='false' ref='tableItem') dummy
  o-tabs(v-model='currentTab')
    o-tab-item(value="0")
      s-table-list(
        :label='label'
        :items='items'
        :main-menu='mainMenu'
        :per-page='perPage'
        @select-table='selectTable'
        @menu-input='handleMenuInput'
        @main-menu-input='handleMainMenuInput'
      )
        template(#empty-table-list)
          slot(name='empty-table-list')
            .empty-table-default
              | No tables

    o-tab-item.table-explorer-table-view(value="1")
      .back-icon(@click='currentTab="0"')
        s-icon.large(icon='arrow-left')

      slot(name='table-visualizer-title' v-bind='{ tableGroup: items[selectedTable] }')

      s-table-visualizer(
        v-if='items[selectedTable]'
        :loading='loading'
        :tables='items[selectedTable].tables'
        :table-height='tableHeight'
      )

      slot(name='table-visualizer-footer' v-bind='{ tableGroup: items[selectedTable] }')
</template>

<style lang="sass" scoped>
:deep(.o-tabs__nav)
  display: none

.back-icon
  padding: 0.75em
  cursor: pointer !important
  width: fit-content
  border-radius: 100px
  transition: 0.2s ease

.back-icon:hover
  background-color: #e5e2e2

.table-explorer-item
  display: flex
  padding: 0.5em 0.75em
  justify-content: space-between

.empty-table-default
  margin: 3em
  text-align: center
  color: #ccc
</style>
