<script lang="ts">
export default { name: 'SViewError404' }
</script>

<script setup lang="ts">
import { useI18n } from 'vue-i18n'

const { t } = useI18n()
</script>

<template lang="pug">
.error-container
  h1.big-error {{ t('S.View.404.error') }}
</template>

<style scoped lang="sass">
.error-container
  text-align: center
  width:100%
.big-error
  font-size: 5em
  color: #D62839
</style>
