<script lang="ts">
export default { name: 'SViewPasswordChangeReset' }
</script>

<script setup lang="ts">
import { useRoute } from 'vue-router'
import { SPasswordChange } from '@/components/'

const route = useRoute()
const userIdUrl = route.query.uid
const tokenUrl = route.query.token
</script>

<template lang="pug">
s-password-change(
  :user-id-url='userIdUrl'
  :token-url='tokenUrl'
)
</template>
