<script lang="ts">
export default { name: 'SViewSignOut' }
</script>

<script setup lang="ts">
import { onMounted } from 'vue'
import { useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { SAuthForm } from '@/components/'
import { signOut } from '@/services/api/'

const router = useRouter()
const { t } = useI18n()

// TODO: error or race condition
signOut()

onMounted(() => {
  setTimeout(() => router.push({ name: 'sign-in' }), 3000)
})
</script>

<template lang="pug">
s-auth-form(:title='t("S.View.Auth.SignOut.signedOut")')
  template(#right)
    p {{ t('S.View.Auth.SignOut.confirmation') }}

    i18n-t(keypath='S.View.Auth.SignOut.redirected' tag='p')
      template(#link)
        router-link(
          :title='t("S.View.Auth.SignOut.signIn")'
          :to='{ name: "sign-in" }'
        )
          | {{ t('S.View.Auth.SignOut.signIn') }}
</template>
