<script lang="ts">
export default { name: 'STreeExplorer' }
</script>

<script setup lang="ts">
import { computed, toRefs, ref } from 'vue'
import { SIcon, SDropdownMenu, SSearchField } from '@/components/'
import STree from './STree.vue'
import type { DropdownMenuInputEvent } from '@/components/'
import type { Tree } from './types'
import { cloneDeep } from 'lodash'

// TODO: move and rename to TreeExplorer

interface Emits {
  (event: 'explorer-input', value: any): void
  (event: 'menu-input', value: DropdownMenuInputEvent): void
  (event: 'tree-node-click', value: { value: string; tree: Tree }): void
}

interface Props {
  trees: Array<Tree>
  searchValues?: Array<string>
}

const props = withDefaults(defineProps<Props>(), {
  searchValues: () => ['title']
})

const currentSearch = ref('')

const emit = defineEmits<Emits>()

const { searchValues, trees } = toRefs(props)

const searchBranch = (branch: Tree): Tree | null => {
  const search = currentSearch.value.toLowerCase()

  for (const field of searchValues.value) {
    if (
      Object.keys(branch).indexOf(field) >= 0 &&
      (branch as any)[field].toLowerCase().indexOf(search) >= 0
    ) {
      branch.isCollapsed = false
      ;(branch as any).highlighted = true
      return branch
    }
  }
  if (!branch.children || !branch.children.length) {
    return null
  }
  for (const subBranch of branch.children) {
    const foundBranch = searchBranch(subBranch)
    if (foundBranch) {
      branch.isCollapsed = false
      return { ...branch, children: [foundBranch] }
    }
  }
  return null
}

const isExplorerEmpty = computed((): boolean => {
  return (
    filteredTrees.value.filter((e: Tree) => (e as any).isEmpty).length ==
    filteredTrees.value.length
  )
})

const filteredTrees = computed((): Array<Tree> => {
  if (!currentSearch.value) {
    return trees.value
  }
  emit('explorer-input', currentSearch.value)
  const filtered = [] as Tree[]
  const clonedTrees = cloneDeep(trees.value)
  for (const tree of clonedTrees) {
    const newTree = { ...tree, children: [] as Tree[] }

    if (tree.children)
      for (const branch of tree.children) {
        const foundBranch = searchBranch(branch)
        if (foundBranch) {
          newTree.children.push(foundBranch)
        }
      }
    if (newTree.children && !newTree.children.length) {
      ;(newTree as any).isEmpty = true
    }
    filtered.push(newTree)
  }
  return filtered.filter((e: any) => !e.isEmpty)
})
</script>

<template lang="pug">
.explorer-wrapper
  .tree-search-wrapper
    s-search-field(hide-label :input-config='{ placeholder: "Search..." }' v-model='currentSearch' icon='search')

  .explorer-trees-wrapper
    template(v-for="tree, index in filteredTrees")
      s-tree(v-if='!tree.isEmpty' :tree='tree' @menu-input="(val) => emit('menu-input', val)" @tree-node-click="(val) => emit('tree-node-click', val)")
        template(v-if='$slots["node-title"]' #node-title='slotProps')
          slot(name='node-title' v-bind='slotProps')
        template(#extraContent="extraContent")
          slot(name='extraContent' v-bind='extraContent')
      .explorer-spacing(v-if="index != filteredTrees.length - 1 && filteredTrees.length !== 1 && !isExplorerEmpty")

    .explorer-empty-results-wrapper(v-if='isExplorerEmpty')
      slot(v-if='$slots["empty-search-results"]' name='empty-search-results')
      .default-empty-search(v-else)
        | The search yielded 0 results for the term "{{ currentSearch }}"
</template>

<style scoped lang="sass">
.tree-search-wrapper
  margin-top: 0.5rem
  margin-bottom: 0.5rem

.explorer-trees-wrapper
  margin-top: 1rem
  margin-bottom: 1rem

.explorer-spacing
  width: 80%
  height: 1px
  background-color: lightgrey
  margin: 0.8em auto

.default-empty-search
  font-size: 0.9em
  text-align: center
  padding: 0.2em
</style>
